<!-- Include head.ejs and related code -->
<%- include('./includes/head.ejs') %>

    </head>
    <body id="home-grid-area">

        <!-- Header section -->
        <header class="home-header">
            <section class="home-header-title">
                <h1>Agenda</h1>
                <h2>2021</h2>
            </section>
        </header>

        <!-- Main section -->
        <main class="home-main">
            <section>
                <form action="/" method="POST">
                    <fieldset>
                        <legend>Login</legend>
                        <section class="home-main-form-email">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </section>
                        <section class="home-main-form-password">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </section>
                        <section class="home-main-form-submit">
                            <input type="submit" name="submit">
                        </section>
                    </fieldset>
                </form>
            </section>
        </main>

        <!-- Footer section -->
        <%- include('./includes/footer.ejs') %>
    </body>
</html>