footer {
  text-align: center; }
  footer p {
    padding: 1rem; }
    footer p span {
      font-size: 1.5rem;
      color: #ff0000; }
    footer p a {
      text-decoration: none;
      color: #123456;
      font-weight: 900; }

#home-grid-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "home-header" "home-main" "footer"; }

.home-header {
  grid-area: home-header; }

.home-main {
  grid-area: home-main; }

footer {
  grid-area: footer; }

.home-header {
  height: 40vh; }
  .home-header .home-header-title {
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    margin: 5rem auto;
    padding: .5rem .2rem;
    border: 5px solid #000;
    border-radius: 25px; }

.home-main section form {
  padding: 2rem; }
  .home-main section form legend {
    font-size: 1.5rem;
    margin: 1rem; }
  .home-main section form .home-main-form-email,
  .home-main section form .home-main-form-password,
  .home-main section form .home-main-form-submit {
    margin: 1rem; }
    .home-main section form .home-main-form-email label,
    .home-main section form .home-main-form-email input,
    .home-main section form .home-main-form-password label,
    .home-main section form .home-main-form-password input,
    .home-main section form .home-main-form-submit label,
    .home-main section form .home-main-form-submit input {
      display: block; }
    .home-main section form .home-main-form-email input[type=email],
    .home-main section form .home-main-form-email input[type=password],
    .home-main section form .home-main-form-password input[type=email],
    .home-main section form .home-main-form-password input[type=password],
    .home-main section form .home-main-form-submit input[type=email],
    .home-main section form .home-main-form-submit input[type=password] {
      padding: .3rem; }
    .home-main section form .home-main-form-email input[type=submit],
    .home-main section form .home-main-form-password input[type=submit],
    .home-main section form .home-main-form-submit input[type=submit] {
      padding: .5rem;
      background-color: #fff; }
  .home-main section form input {
    border-radius: 5px; }

#menu-grid-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "menu-header" "menu-main" "footer"; }

.menu-header {
  grid-area: menu-header; }

.menu-main {
  grid-area: menu-main; }

footer {
  grid-area: footer; }

.menu-header {
  height: 50vh;
  text-align: center; }
  .menu-header section {
    margin-top: 5rem; }

.menu-main {
  height: 50vh; }
  .menu-main section {
    text-align: center; }
    .menu-main section button {
      padding: 3px;
      border-radius: 5px; }
      .menu-main section button a {
        text-decoration: none;
        color: #000; }

#days-grid-area {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "days-header" "days-main" "footer"; }

.days-header {
  grid-area: days-header; }

.days-main {
  grid-area: days-main; }

footer {
  grid-area: footer; }

.days-header {
  height: 20vh; }
  .days-header nav {
    float: right; }
    .days-header nav li {
      list-style: none;
      display: inline;
      padding: .2rem; }
      .days-header nav li a {
        text-decoration: none;
        color: #000; }
  .days-header section {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #000; }

.days-main {
  height: auto;
  min-height: 50vh;
  text-align: center; }
  .days-main .days-main-add-note {
    margin-bottom: 2rem; }
    .days-main .days-main-add-note input[type=text] {
      margin: .5rem; }
  .days-main section {
    width: 80vw;
    margin: 1rem auto;
    padding: .5rem;
    border: 1px solid #000; }
    .days-main section form {
      float: right; }

* {
  padding: 0;
  margin: 0; }
