<!-- Include head.ejs -->
<%- include('../includes/head.ejs') %>
</head>
<body id="menu-grid-area">

    <!-- Header -->
    <header class="menu-header">
        <section>
            <h1>Menu</h1>
        </section>
    </header>

    <!-- Main -->
    <main class="menu-main">
        <section>
            <button><a href="http://127.0.0.1:5000/01012021">Go to your agenda</a></button>
        </section>
    </main>
    
    <!-- Include footer.ejs -->
    <%- include('../includes/footer.ejs') %>
</body>
</html>